* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

/* Entire scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px; /* for horizontal scrollbars */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* for firefox */
body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* thumb, track */
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
  color: #1f2328;
  display: flex;
  justify-content: center;
}

.chat-page {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 1rem 0;
}

.chat-container {
  max-width: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  align-items: center;
}

.message-list {
  flex-grow: 1; 
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 12px; 
  width: 100%;
  height: 100%;
}

.message {
  padding: 10px 15px;
  border-radius: 18px;
  max-width: 75%;
  word-wrap: break-word;
  line-height: 1.5;
  font-size: 0.95rem;
}

.message.user {
  background-color: #e1e1e1; 
  color: #1f2328;
  align-self: flex-end;
  border-bottom-right-radius: 5px;
  font-size: 1.05rem;
}

.message.bot {
  background-color: #f0f0f0; 
  color: #1f2328;
  align-self: flex-start;
  border-bottom-left-radius: 5px;
  font-size: 1.05rem;
}

.message.loading p {
  color: #666;
  font-style: italic;
  animation: blink 1.4s infinite both;
  animation-delay: 0.2s;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}


.input-area {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 24px; */
  /* padding: 18px 120px 20px; */
  padding-bottom: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.message-end {
  height: 200px;
}

.message-input-form {
  display: flex;
  width: 100%;
  max-width: 800px;
  align-items: center; 
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 24px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  padding-right: 8px;
  /*position: relative;*/
}

.message-input-form::after {
  content: "";
  position: absolute;
  width: calc(100% - 21px);
  height: 74px;
  background: white;
  bottom: -25px;
  z-index: -1;
}

.input-textarea {
  max-height: 150px;
  resize: none;
  padding: 18px 8px 18px 18px;
}

.message-input-form textarea {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  line-height: 1.5; 
  color: #1f2328;
  margin: 0;
  min-height: 24px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.message-input-form textarea::placeholder {
  color: #8b949e;
}

.message-input-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 110, 255);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}


.message-input-form button:disabled {
  background-color: #8b949e;
  cursor: not-allowed;
}

.message-input-form button:hover {
  background-color: #6e7681;
}

.message-input-form button:disabled:hover {
  background-color: #8b949e;
}

.message-input-form button:disabled img {
  fill: #a0a0a0;
}

.message p {
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.send-icon{
  width: 20px;
  height: 20px;
}